h1 {
  padding: 2rem;
}

h2 {
  text-align: center;
}

.card {
  width: 10%;
  margin: 0 auto;
  text-align: center;
  border: solid rebeccapurple;
}

.port {
  width: 10%;
  margin: 0 auto;
  text-align: center;
  border: solid rgb(60, 180, 86);
}

.list-group {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
